CompileFlags: # Tweak the parse settings, example directory given to show format
  Add:
    # - "-I=[folder]"         # old answer
    - "-I/usr/include/python3.8"            # e.g `-I/usr/include/SDL2`  suggested from @Palmkeep
